.indicador {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 10px;
    box-shadow: #777777 0px 0px 20px -10px;
    color: #4f5355;
    overflow: hidden;
}
.indicador.home-panel {
    height: 245px;
}
.indicador small {
    font-size: 15px;
    line-height: 1;
}
.indicador .head {
    background: #848484;
    color: #ffffff;
    margin: -12px;
    margin-bottom: 10px;
}
.indicador .head h1 {
    padding: 0px 10px 10px 10px;
}
.indicador .head h2 {
    padding: 14px 10px 24px 10px;
}
.indicador .head .area {
    padding-top: 6px;
    margin-bottom: -10px;
}

.icon.big {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .indicador .head h2 {
        font-weight: 300;
        font-size: 3.5rem;
        padding: 0px 0px 10px 0px;
    }
}
@media (min-width: 991px) {
    .justify-content-center.home-panel {
        margin: 0px calc(-10% - 30px);
    }
}
@media (min-width: 1200px) {
    .indicador .head h2 {
        font-weight: 300;
        font-size: 2.7rem;
        padding: 0px 0px 18px 0px;
    }
}
