<div class="container">
  <div class="rector-text">
    <div class="row">

      <div class="col-md-6" style="border-right: 1px solid #cccccc;">
        <h2>Documentos de Interés</h2>
        <div class="documentos-category">
          <h5 href="#" aria-expanded="true">Leyes Asociadas al Proceso</h5>
          <div class="uk-accordion-content uk-margin-remove-first-child">            
            <div class="el-content uk-panel uk-margin-top">
              <ul>
                <a target="_blank" href="assets/documentos/01_Ley_de_Universidades_Estatales.pdf"><li>Ley 21.094 Sobre Universidades Estatales</li></a>
                <a target="_blank" href="assets/documentos/Ley-21091_29-MAY-2018.pdf"><li>Ley 21.091 Sobre Educación Superior</li></a>
                <a target="_blank" href="assets/documentos/LEY-20129_17-NOV-2006.pdf"><li>Ley 20.129 Sistema Nacional de Aseguramiento de la Calidad en la Educación Superior</li></a>
              </ul>
            </div>        
          </div>
        </div>
    
        <div class="documentos-category">
          <h5 href="#" aria-expanded="true">Normativas</h5>
          <div class="uk-accordion-content uk-margin-remove-first-child">
            <div class="el-content uk-panel uk-margin-top">
              <ul>
                <a target="_blank" href="assets/documentos/RES-DJ-01.pdf"><li>Reglamento sobre Áreas de Acreditación</li></a>
              </ul>
            </div>        
          </div>        
        </div>
    
        <div class="documentos-category">
          <h5 href="#" aria-expanded="true">Guías y Manuales para el Proceso</h5>
          <div class="uk-accordion-content uk-margin-remove-first-child">            
            <div class="el-content uk-panel uk-margin-top">
              <ul>
                <a target="_blank" href="assets/documentos/Guia_para_la_autoevaluacion_interna_Universidades.pdf"><li>Guía para la&nbsp;Autoevaluación&nbsp;en Acreditación Institucional CNA</li></a>
                <a target="_blank" href="assets/documentos/Guia_para_la_evaluacion_externa_Universidades.pdf"><li>Guía para la Evaluación Externa&nbsp;<span>en Acreditación Institucional</span><span>&nbsp;CNA</span></li></a>
                <a target="_blank" href="assets/documentos/Criterios_de_Formacin_Virtual_para_Ues.pdf"><li>Criterios&nbsp;de Formación Virtual para Universidades</li></a>
              </ul>
            </div>
          </div>        
        </div>
    
        <div class="documentos-category">
          <h5 href="#" aria-expanded="true">Proceso UV</h5>
          <div class="uk-accordion-content uk-margin-remove-first-child">            
            <div class="el-content uk-panel uk-margin-top">
              <ul>
                <a target="_blank" href="assets/documentos/Metodologia_proceso_Autoevaluacion_para_Acreditacion_UV.pdf"><li>Metodología para Proceso Autoevaluación UV</li></a>
                <a target="_blank" href="assets/documentos/Gua_de_trabajo_Comisiones_vf.pdf"><li>Guía de Trabajo para Comisiones</li></a>
                <a target="_blank" href="assets/documentos/Programa_Induccin_Comisiones.pdf"><li>Programa de Inducción para Comisiones</li></a>
              </ul>
            </div>        
          </div>        
        </div>
    
      </div>


      <div class="col-md-6">
        <h2>Infografías</h2>
        <img class="col-sm-6 infografia-img" [src]="i" *ngFor="let i of infografias" (click)="selectInfografia(i)">
      </div>

    </div>
    <div class="row">
      <div class="col-md-12" style="border-top: 1px solid #cccccc;">
        <h2>Descargas Corporativas</h2>
      </div>
      <div class="col-md-12">
        <div class="documentos-category" style="display: flex;">
          <!--h5 href="#" aria-expanded="true">Normativas</h5-->
          <div class="d-none d-sm-block" class="documents-png">
            <img src="./assets/documents.png" style="width: 100%; max-width: 150px;">
          </div>
          <div style="float: left;" class="uk-accordion-content uk-margin-remove-first-child">
            <div class="el-content uk-panel uk-margin-top">
              <ul>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/uv_plantilla_invitacion-2021_acreditacion.docx">
                  <li> <img class="file-img" src="https://uv.cl/images/bullet_word.gif"> Invitación</li>
                </a>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/uv_plantilla_email-2021_acreditacion.pptx">
                  <li> <img class="file-img" src="https://uv.cl/images/bullet_ppt.gif"> Invitación e-mail</li>
                </a>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/uv_plantilla_power_point-2021_acreditacion_formal.pptx">
                  <li><img class="file-img" src="https://uv.cl/images/bullet_ppt.gif"> Presentación en Power Point Formal</li>
                </a>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/uv_plantilla_power_point-2021_acreditacion_informal.pptx">
                  <li><img class="file-img" src="https://uv.cl/images/bullet_ppt.gif"> Presentación en Power Point Informal</li>
                </a>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/uv_escritorio_2021_1920x1080_acreditacion.jpg">
                  <li><img class="file-img" src="https://uv.cl/images/bullet_jpeg.gif"> Fondo Monitor Ancho</li>
                </a>
                <a target="_blank" href="https://www.uv.cl/universidad/descargas/archivos/manualdenormasUV2020.pdf">
                  <li><img class="file-img" src="https://uv.cl/images/bullet_pdf.gif"> Manual de Normas Gráficas</li>
                </a>
              </ul>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="visor-infografia" *ngIf="selectedInfografia">
  <a class="visor-infografia-a" (click)="unselectInfografia()">  CERRAR</a>
  <img  class="visor-infografia-img" [src]="selectedInfografia">
  
  <a class="visor-infografia-a arrow left" (click)="selectAntInfografia()"> < </a>
  <a class="visor-infografia-a arrow right" (click)="selectSigInfografia()"> > </a>

  <div class="visor-footer">
    <img [src]="i" *ngFor="let i of infografias" [ngClass]="{'active': i == selectedInfografia }" (click)="selectInfografia(i)">
  </div>
</div>



