<div id="video-background">
  <!--iframe src="https://www.youtube.com/embed/p0xYOi3c2xM?rel=1&loop=1&mute=1&playlist=p0xYOi3c2xM&autoplay=1&controls=0&showinfo=0&iv_load_policy=3&modestbranding=0&wmode=transparent&playsinline=0&disablekb=0&autohide=1&enablejsapi=0" autoplay allowfullscreen ></iframe-->
</div>

<div class="home">
  <div class="splash">
    <div class="image"></div>
    <div class="gradient"></div>
    <div class="intro">
      <div class="text">
        <img class="lead heading img" src="assets/logos/favicon.png">
        <h1 class="lead heading title">Bubustina</h1>
        <p class="lead font-md heading manuscrita">
          Banquetería Gourmet
        </p>
      </div>
    </div>
  </div>
</div>

<div class="indicadores-home">
  <indicadores [indicadores]="indicadores"></indicadores>
</div>  

<div class="bg-white bajada" style="padding-bottom: 80px">

  <div class="col-sm-12">
    <div class="container" style="text-align: justify;">
      <h1 style="text-align: center; margin-bottom: 50px;">La UV se suma</h1>
      <div class="row">
        <div class="rector-text">
          "Este proceso de autoevaluación debe involucrar a toda la Universidad, a sus tres estamentos, por cuanto se trata de un proceso reflexivo, que debe poner en valor todos los méritos que la institución tiene, y que desde la última acreditación, en 2017, han crecido en todas las áreas: docencia de Pregrado, docencia de Postgrado, Gestión institucional, Investigación y Vinculación con el medio. Este proceso de autoevaluación alcanza a la Universidad de Valparaíso en un contexto peculiarmente difícil, marcado por la pandemia así como por nuevas exigencias de parte de la Comisión Nacional de Acreditación. Sin embargo, gracias al trabajo de todas y todos los miembros de la comunidad, el proceso se enfrenta sobre bases sólidas, que han permitido a la UV no sólo adaptarse a seguir trabajando y creciendo en pandemia, sino que además a convertirse en la institución regional que más ha aportado a la comunidad y al país en estos difíciles tiempos."
        </div>
        <div class="rector-img">
          <img src="assets/rector.png" alt="Osvaldo Corrales, Rector" class="img">  
          <br>Osvaldo Corrales <br> Rector
        </div>
      </div>

      <h1 style="margin-top: 70px;line-height: 0;">Súmate tú también</h1>
      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/Fodumh6kiKM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/dyYDVnjXwd8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/yN5hRlWBUzE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/Fl0xBtqFKqo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/hWtyBSROBdg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/I6Tg-yAGDpc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/pvWsmrF4hAo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/XLpFaE3j2eI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://drive.google.com/file/d/1VhBfgu-CSaxbrXnSYl-37t7ymhbNcY_G/preview" allow="autoplay"></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://drive.google.com/file/d/11lmmM7Q5Ks8101HClpZ7n3E6IffQgpAl/preview" allow="autoplay"></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://drive.google.com/file/d/1nePhHjT0Ntd4kTUsJpgvXR96LS8-T12H/preview" allow="autoplay"></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/rbDeliNYAtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <iframe class="video-invitacion" src="https://www.youtube.com/embed/8OVG9X1_Tig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>


    </div>  
  </div>
</div>






