#video-background {
    position: absolute;
    top: 153px;
    margin: 0px -12px;
    z-index: -99;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: none;
    background-image: url(/assets/video-background.png);
    background-size: cover;
    background-color: #6E2B13;
    text-align: center;
    overflow: hidden;
}
#video-background iframe {
    position: absolute;
    width: calc(100vh / 0.565);
    min-width: 100vw;
    height: 100vh;
    min-height: calc(100vw * 0.565);
    transform: translate(-50%, 0%);
}
.home {
    height: calc(0.56 * 100vw);
    height: 70vh;
    overflow-x: hidden;
}
.home .splash {
    z-index: 2;
    padding: 7vh 0 54px 0;
    min-height: 480px;
    min-height: 22rem;
}
.home .splash .intro {
    max-width: 100%;
    margin: 0 auto;
    width: 100vw;
    margin-top: -5vh;
}
.home .splash .intro .text {
    text-align: center;
    height: 65vh;
    color: #ffffff;
}
.home .splash .intro .text .title {
    margin: 0px;
    margin-right: -30px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
}
h1,
.font-xl {
    font-size: 1.75rem;
    line-height: 1;
}
.home .splash .intro .text .lead {
    margin: 0.5em 0;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    text-shadow: 0 1px 1.5em rgb(0 0 0 / 30%);
}
.home .splash .gradient {
    position: absolute;
    top: 154px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(0.565 * 100vw);
    width: 100vw;
    height: 100vh;
    z-index: -9;
    background-color: rgba(0, 0, 0, 0.4);
    background: --webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(-5%, rgba(0, 0, 0, 0.45)),
        color-stop(53.333%, rgba(0, 0, 0, 0.45)),
        color-stop(85%, rgb(255, 255, 255))
    );

    background: linear-gradient(
        rgba(0, 0, 0, 0.45) -5%,
        rgba(0, 0, 0, 0.45) 53.333%,
        rgb(255, 255, 255) 85%
    );
}
.bajada {
    position: relative;
    top: -1px;
    padding: 0px;
}

.rector-text {
    width: calc(100% - 220px);
    margin: 0px 20px 0px 0px;
    padding: 10px 15px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    box-shadow: #969696 0px 0px 20px -10px;
}
.rector-img {
    width: 200px;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
}
.rector-img .img {
    width: 100%;
    border-radius: 50%;
}

.video-invitacion {
    width: 100%;
    height: 52%;
    min-height: 304px;
    border-radius: 20px;
    border: 1px solid #f0f3f7;
    margin-bottom: 20px;
}

.lead.font-md.heading {
    text-align: justify;
    font-size: 26px !important;
    padding: 0px 25vw;
}
.lead.heading.img {
    width: 18vw;
    max-width: 160px;
    margin: 9vh 0px 5vh 0px !important;
}

.indicadores-home {
    margin-top: -200px;
}

@media (max-width: 991px) {
    .home .splash .gradient {
        top: 125px;
    }
    #video-background {
        top: 43px;
    }

    .rector-text {
        width: calc(100%);
        margin: 0px 0px 0px 0px;
    }
    .rector-img {
        padding: 0px;
        padding-top: 30px;
        width: 100%;
    }

    .rector-img .img {
        width: 200px;
        margin: 0px auto;
    }

    .lead.font-md.heading {
        padding: 0px 10px;
    }
    .lead.heading.img {
        width: 40vw;
        max-width: 140px;
        margin: 9vh 0px 0vh 0px !important;
    }
}

@media (min-width: 1428px) {
    .home .splash .gradient {
        top: 125px;
    }
    #video-background {
        top: 43px;
    }
}
