<div class="container" style="text-align: center;">
  <h1>Acceso a la Ficha Institucional de Datos UV</h1>
  <br>
  <br>

  <p style="text-align: justify;">
    La Ficha Institucional de Datos establece los datos básicos de la Institución y debe anexarse en la presentación del Informe de Autoevaluación Interna.
    <br>
    <br>
    La infromación contenida debe ser entendida como un núcleo mínimo de infromación básica, por lo que puede ser complementada con otros antecedentes útiles. Así mismo, se espera que la ficha presentada no contenga inconsistencias y que sea un documento autoexplicativo, por lo que es posible incluir en ella las notas y consideraciones necesarias para un mejor entendimiento de los datos y de la información ahí proporcionada. Todos los datos correspondientes a la realidad institucional deben ser completados.
  </p>
  <br>
  <div class="alert alert-danger">
    *Solo podrá acceder a la Ficha Institucional de Datos mediante la intranet de la Universidad o utilizando VPN.
    </div>
    <br>
    <br>
      <a  class="search-home-button" target="_blank" href="https://fichainstitucional.uv.cl/">
          Ficha Institucional  
      </a>

</div>
