.body {
    background-color: #ffffff;
    min-height: calc(100vh - 236px);
    overflow: auto;
}
#logouv {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 23px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
}
#logouv img {
    max-width: 100%;
    max-height: 100px;
}
#hashtag {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 23px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
}
#hashtag img {
    max-height: 110px;
}
#video-background {
    position: absolute;
    top: 235px;
    margin: 0px -12px;
    z-index: -99;
    width: calc(100vw + 12px);
    height: calc(0.565 * 100vw);
    border: none;
    background-image: url(/assets/video-background.png);
    background-size: contain;
}

.nav-header {
    background-color: #00429a;
    height: 235px;
    padding-top: 1px;
}

.abstract {
    border-radius: 10px;
    color: #ffffff;
    padding: 20px 30px;
    text-align: justify;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    height: auto;
    z-index: 0;
    transition: all 500ms;
}
.abstract.collapse {
    height: 80px !important;
    overflow: hidden;
    background: none;
    backdrop-filter: none;
    border-color: transparent;
    display: block !important;
    transition: all 500ms;
}
.abstract .body {
    opacity: 0.8;
    transition: all 500ms;
}
.abstract.collapse .body {
    opacity: 0;
    transition: all 500ms;
}

.monitor {
    min-width: 600px;
    max-width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background: #fff;
    border-radius: 20px;
    margin: 50px 100px;
    overflow: hidden;
}
.img-responsive {
    max-width: 100%;
    max-height: 300px;
}

.toast-boletin {
    position: absolute;
    right: 10px;
    top: 265px;
    background-color: #ff9800;
    padding: 20px 10px 20px 59px;
    border-radius: 35px;
    cursor: pointer;
    color: aliceblue;
    width: 185px;
    text-align: center;
}
.toast-boletin .image {
    position: absolute;
    width: 40px;
    top: 14px;
    left: 14px;
}
.toast-boletin.hidden {
    right: -178px;
}

.toast-boletin.active {
    background-color: blueviolet;
    padding: 17px 0px 17px 0px;
}

.visor-boletin {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 240px;
    bottom: 0px;
    background: #cacaca;
}

.boletin-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 5px solid #676767;
    margin-top: -6px;
    height: 100px;
    padding: 15px 10px 10px 10px;
}
.boletin-footer .thumb {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    color: rgba(0, 0, 0, 0.5);
    width: 130px;
    border-radius: 9px;
    margin: 5px;
    cursor: pointer;
    font-size: 11px;
    padding: 12px 15px;
}
.boletin-footer .thumb:hover {
    background-color: rgba(0, 0, 0, 0.07);
}
.boletin-footer .thumb.active {
    border: 2px rgba(0, 0, 0, 0.3) solid;
    background-color: rgba(0, 0, 0, 0.08);
    color: #676767;
}

@media (max-width: 991px) {
    #logouv {
        top: 30px;
        left: 0px;
        height: 73px;
    }
    #logouv img {
        max-height: 80px;
    }
    #hashtag {
        right: 0px;
    }
    #hashtag img {
        max-height: 95px;
    }
    .nav-header {
        height: 125px;
    }
    .toast-boletin {
        top: 155px;
    }
    .visor-boletin {
        top: 130px;
    }
}

@media (min-width: 1428px) {
    #logouv {
        top: 6px;
        left: 0px;
        height: 73px;
    }
    #logouv img {
        max-height: 100px;
    }
    #hashtag {
        top: 0px;
        right: 0px;
    }
    #hashtag img {
        max-height: 110px;
    }
    .nav-header {
        height: 125px;
    }
    .toast-boletin {
        top: 155px;
    }
    .visor-boletin {
        top: 130px;
    }
}
